body {
  margin: 0%;
  display: grid;
  font-family: century;
  width: 100%;
  place-items: center;
  height: 100%;
}

.container {
  background-image: linear-gradient(to bottom right, #1e8ba2, #eac5b3);
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
  color: #eee;
}

.nav {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: 2em 2em 5em 2em;
}

.title {
  width: 100%;
  display: flex;
  align-items: center;
}

.content {
  width: 80%;
  font-size: 1.25em;
  margin: 4em 2em 7em 2em;
}

#coder {
  max-width: 300px;
  padding: 8px 0px;
  margin-top: 48px;
  float: right;
}

.icon {
  width: 2em;
  padding: 2px 4px;
}

button {
  background-color: #eac5b3;
  border: none;
  padding: 8px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 8px 0px;
  border-radius: 18px;
}

.testimony {
  background-color: #f8f0e4;
  text-align: center;
  border-radius: 32px;

  display: flex;
  color: #111;
  flex-direction: column;
  width: 40%;
  align-items: center;
  margin-bottom: 5em;
}

.testimony p {
  color: #d7926f;
  width: 50%;
}
